---
extends: default

ignore: |
  .tox
  .github
  docs
  galaxy.yml
  changelogs/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length:
    ignore: |
      hacking/
      tests/
